@import-normalize;

@font-face {
  font-family: "Hack";
  src: url(./assets/fonts/hack-regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Hack";
  src: url(./assets/fonts/hack-bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(./assets/fonts/HelveticaNeueCyr-Italic.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "YS Text";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url(//yastatic.net/s3/home/fonts/ys/1/text-regular.woff2) format("woff2"),
    url(//yastatic.net/s3/home/fonts/ys/1/text-regular.woff) format("woff");
}
@font-face {
  font-family: "YS Text";
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url(//yastatic.net/s3/home/fonts/ys/1/text-medium.woff2) format("woff2"),
    url(//yastatic.net/s3/home/fonts/ys/1/text-medium.woff) format("woff");
}
@font-face {
  font-family: "YS Text";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url(//yastatic.net/s3/home/fonts/ys/1/text-bold.woff2) format("woff2"),
    url(//yastatic.net/s3/home/fonts/ys/1/text-bold.woff) format("woff");
}

*{
  box-sizing: border-box;
}
html, body, #root{
    height: 100%;
    width: 100%;
}

body {
  font-family: "YS Text", "Helvetica Neue", sans-serif;
  -webkit-font-feature-settings: "liga", "kern";
  -moz-font-feature-settings: "liga", "kern";
  font-feature-settings: "liga", "kern";
  margin: 0;
}
code {
  font-family: Hack, monospace;
}

a{
  text-decoration: none;
  color: #000;
}

.hidden{
  display: none;
}
